/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.lock
vendor
composer.lock
package-lock.json
ruleset.xml
.ac-php-conf.json
composer.phar
config/storage